<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.start.mapper.UnifyMapper">
    <select id="count" parameterType="String" resultType="long">
        SELECT COUNT(*) FROM ${tableName}
    </select>
    <delete id="initShiroTable" >
        TRUNCATE TABLE t_role;
        TRUNCATE TABLE role_permission;
        TRUNCATE TABLE role_menu;
        TRUNCATE TABLE t_permission;
        TRUNCATE TABLE t_menu;
        TRUNCATE TABLE user_role;
        TRUNCATE TABLE t_user;
    </delete>
    <delete id="deleteUserRoot">
        DELETE FROM user_role WHERE user_id =  (SELECT user_id FROM t_user WHERE user_name = 'root' );
        DELETE FROM t_user WHERE user_name = 'root';
    </delete>
    <select id="searchRoot" resultType="Integer">
        SELECT COUNT(*) FROM t_user WHERE user_name = 'root';
    </select>
</mapper>